<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>New Sporify</title>
</head>

<body>

	<header th:insert="~{usuario/template_usua.html::header-user}"></header>
	<table class="table">

		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nombre</th>
				<th scope="col">Audio</th>
				<th scope="col">Usuario</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m:${musica}">
				<td th:text="${m.idmusica}"></td>
				<td th:text="${m.nombre}"></td>

				
				<!-- Botón para reproducir el audio -->
				<td>
					<div  data-audio-id="${m.idmusica}" >
						<button  th:src="@{/Audio/{aud}(aud=${m.audio})}" >
						Reproducir
						</button>
					</div>
					
				</td>

				<td th:text="${m.usuario != null ? m.usuario.nombre : 'Sin usuario asociado'}">ID Usuario</td>
			</tr>
		</tbody>
	</table>
	<footer th:insert="~{usuario/template_usua.html::footer}"></footer>

<script>
		// Obtener todos los elementos de audio en la tabla
		const div = document.querySelectorAll('div[data-audio-id]');
		// Agregar un event listener a cada audio para detectar cuándo se reproduce
		div.forEach(button => {
			button.addEventListener('click', function () {
				// Obtener la fuente del audio en reproducción
				const audioSrc = this.querySelector('button').getAttribute('src');

				// Actualizar la fuente del audio en el footer
				const footerAudioSource = document.getElementById('footer-audio-source');// Selecciona el <source> en el footer
				footerAudioSource.setAttribute('src', audioSrc);

				// Recargar el audio en el footer para que tome la nueva fuente
				const footerAudio = footerAudioSource.parentElement;// Obtiene el <audio> que es el contenedor del <source>
				footerAudio.load(); // Recarga el control de audio para que tome la nueva fuente
				footerAudio.play(); // Inicia la reproducción del audio


			});
		});
	</script>
	



</html>